button {
  border: none;
  background-color: #E8E8E8;
  color: black;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

body {font-family: 'Poppins'; font-weight: bold;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
